nav {
    font-family: helvetica;
    width: 100%;
    height: 84px;
    // border: 5px dotted black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    #leftNavIcon {
        height: 84px;
        width: 84px;
        // border: 5px dotted brown;
        // position: -webkit-sticky; /* Safari */
        // position: sticky;
        // top: 0;
        padding: 20px;
        a {
        
            img {
                height: 100%;
                width: 100%;
                size: cover;
                
            }
        }


    }

    #rightNav {
        height: 100%;
        width: 550px;
        // border: 5px dotted brown;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        
        
        a {
            text-decoration: none;
            color: $site-grey;
            font-size: 16px;
            font-weight: bold;

            img {
                height: 36px;
                width: 36px;
                size: cover;
            }
        }
        a:hover {
            text-decoration: none;
            color: $site-green;
        }
        
    }
}

@media only screen and (max-width: 650px){

    nav {
        font-family: helvetica;
        width: 100%;
        height: 84px;
        // border: 5px dotted black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        #leftNavIcon {
            height: 84px;
            width: 84px;
            // border: 5px dotted brown;
            // position: -webkit-sticky; /* Safari */
            // position: sticky;
            // top: 0;
            padding: 20px;
            a {
            
                img {
                    height: 100%;
                    width: 100%;
                    size: cover;
                    
                }
            }
    
    
        }
    
        #rightNav {
            height: 100%;
            width: 550px;
            // border: 5px dotted brown;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            
            
            a {
                text-decoration: none;
                color: $site-grey;
                font-size: 10px;
                font-weight: bold;
    
                img {
                    height: 36px;
                    width: 36px;
                    size: cover;
                }
            }
            a:hover {
                text-decoration: none;
                color: $site-green;
            }
            
        }
    }
    
}